.header {
    display: block;
    justify-content: initial;
    padding: 0 0 1rem 1rem;
    margin-top: 2rem;
}

.header__title {
    font-family: var(--fonte-secundaria);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.header__text {
    font-family: var(--fonte-secundaria);
    font-size: 1.45rem;
}